@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
  margin: 0;
  font-family: IBM Plex Sans;
  background: var(--darktheme-base-black, #0E0C15);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 34px;
  align-items: stretch;
  max-width:1920px;
  margin:auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Sizes  */
:root {
  --desktop-spacer-lvl_1-mode-1: 16px;
  --desktop-spacer-lvl_2-mode-1: 20px;
  --desktop-spacer-lvl_3-mode-1: 34px;
  --const-spacer-lvl_1-mode-1: 8px;
  --const-spacer-lvl_2-mode-1: 12px;
  --const-spacer-lvl_3-mode-1: 14px;
  --const-spacer-lvl_4-mode-1: 16px;
  --tablet-spacer-lvl_1-mode-1: 14px;
  --tablet-spacer-lvl_2-mode-1: 18px;
  --tablet-spacer-lvl_3-mode-1: 30px;
  --mobile-spacer-lvl_1-mode-1: 10px;
  --mobile-spacer-lvl_2-mode-1: 14px;
  --mobile-spacer-lvl_3-mode-1: 24px;
}

/* Color Styles  */
:root {
  --darktheme-base-black: #0E0C15FF;
  --darktheme-base-white: #FFFFFFFF;
  --darktheme-accent-primary: #1C64F2FF;
  --darktheme-accent-primary-light: #4785FFFF;
  --darktheme-accent-strong: #073CA4FF;
  --darktheme-accent-strong-down: #0E3176FF;
  --darktheme-gray-scale-gray-1: #616D8DFF;
  --darktheme-gray-scale-gray-2: #313E62FF;
  --darktheme-gray-scale-gray-3: #222B44FF;
  --darktheme-gray-scale-gray-4: #121825FF;
  --darktheme-gray-scale-gray-5: #374151FF;
  --darktheme-gray-scale-gray-6: #9CA3AFFF;
  --other-premium-gradient: linear-gradient(90deg, 0% rgba(28, 100, 242, 1), 100% rgba(212, 28, 242, 1));
  --other-critic: #FE4242FF;
  --other-custom-border: linear-gradient(90deg, 0% rgba(32, 96, 225, 0), 66.14583134651184% rgba(32, 96, 225, 1), 100% rgba(32, 96, 225, 0));
  --other-purple: #941CF2FF;
  --other-aqua: #1CB2F2FF;
  --other-orange: #F29C1CFF;
  --other-green: #1ABB34FF;
  --other-yellow: #F2DD1CFF;
  --other-pink: #EE1CF2FF;
  --lighttheme-base-black: #FFFFFFFF;
  --lighttheme-base-white: #0E0C15FF;
  --lighttheme-gray-scale-gray-1: #ADB8C0FF;
  --lighttheme-gray-scale-gray-2: #CDD5DAFF;
  --lighttheme-gray-scale-gray-3: #DBE0E4FF;
  --lighttheme-gray-scale-gray-4: #F5F6F7FF;
  --lighttheme-gray-scale-gray-5: #ADB5BDFF;
  --lighttheme-gray-scale-gray-6: #DDE8F3FF;
}

